@using System.Collections.Generic

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div ng-app="app" ng-controller="ordersController">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr ng->
                            <th>Order Id</th>
                            <th>Customer Id</th>
                            <th>Customer Name</th>
                            <th>Order Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orders">
                            <td>{{ order.OrderId }}</td>
                            <td>{{ order.CustomerId }}</td>
                            <td>{{ order.CustomerName }}</td>
                            <td>{{ order.OrderDate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button ng-click="previous()">« Prev</button>
            <button ng-click="next()">Next »</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/ordersController.js"></script>
}